<!DOCTYPE HTML>
<html>
  <head>
    <style>
      body {
        margin: 0px;
        padding: 0px;
      }
    </style>
  </head>
  <link rel="stylesheet" type="text/css" href="../css/styles.css">
  <body>

  <div id="customizer">
    <canvas id="customHelmet" width="973" height="1080"></canvas>
  </div>



  <canvas id="btnShell" width="600" height="300">
    <!-- <button id="orange">ORANGE</button> -->
  </canvas>
  <button id="orange">ORANGE</button>



  <script type="text/javascript" src="../js/custom.js"></script>
  




  </body>
</html>